<div class="container">
  <div class="page-header">
    <h1>BTD (Banana Tree Detection)</h1>
    <h3>Take a look at your stats!</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item active">{{ user.firstname }} {{ user.lastname }}</a>
    <a href="#" class="list-group-item">Total number of annotated templates <span class="badge">{{ numberOfMarked }}</span></a>
    <a href="#" class="list-group-item">Total number of annotated templates as non center <span class="badge">{{ numberOfMarkedNonCenter }}</span></a>
    <a href="#" class="list-group-item">Total number of annotated templates as center <span class="badge">{{ numberOfMarkedCenter }}</span></a>
  </div>
</div>
