<div class="container">
  <div class="page-header">
    <h1>BTD (Banana Tree Detection)</h1>
  </div>
  <p>Your task is to tell if there is a banana tree center on the 40 by 40 pixels picture or not.</p>
  <p>If there is a center like on the following template <img src="../../assets/0a22378c-e1eb-4a8f-b3d9-c221bf987b9d_x-2716_y-1653_40_by_40_widthparent-3570_heightparent-3584.jpg">
    please just click on the tree center on the 40 by 40 pixels image you think like following <img src="../../assets/0a22378c-e1eb-4a8f-b3d9-c221bf987b9d_x-2716_y-1653_40_by_40_widthparent-3570_heightparent-3584_marked.jpg"> and then click on confirm.<br/><br/>
    If there is no center like on the following template <img src="../../assets/0a8fae15-7c22-405e-b84b-7dab21114207_x-195_y-2340_40_by_40_stride-13_widthparent-272_heightparent-3277.jpg">
    please just click on confirm. If you want to remove your selection you can click the reset button.<br/>
    If you find more than one center on picture, don't worry. Just click on the one you prefer.<br/>
    The program doesn't end on a certain number of pictures. Please do it as many as possible.
  </p>
  <p>Please click on the link <a href="#" routerLink="/images" routerLinkActive="active">start</a> to annotate pictures.</p>
  <p class="text-danger">
    I recommend to use this platform with Google Chrome.<br/>
    Please don't use this on smartphones.
  </p>
  <p>Thank you for your help.</p>
  <p>Contact: <a href="mailto:nganyana@th-brandenburg.de">Herval Bernice Nganya Nana</a></p>
</div>
